<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
{{template "header" .ListName}}

<div class="container mb-5">
    <div class="row">
        <div class="col-12 pb-4">
          <h1 class="first-header">Gentoo Archives: {{.ListName}}</h1>

          <div class="table-responsive">
            <table class="table table-sm ag-header-table">
              <tr>
                <th class="ag-header-name-col">From:</th>
                <td>{{formatAddr (.Message.From)}}</td>
              </tr>
              <tr>
                <th>To:</th>
                <td>{{formatAddrList (.Message.To)}}</td>
              </tr>
              {{if .Message.Cc}}
              <tr>
                <th>Cc:</th>
                <td>{{formatAddrList (.Message.Cc)}}</td>
              </tr>
              {{end}}

              <tr>
                <th>Subject:</th>
                <td><strong>{{.Message.GetSubject}}</strong></td>
              </tr>
              <tr>
                <th>Date:</th>
                <td>{{.Message.Date.Format "Mon, 2 Jan 2006 15:04:05"}}</td>
              </tr>
              <tr>
                <th>Message-Id:</th>
                <td><tt>{{.Message.GetMessageId}}</tt></td>
              </tr>

              {{if .Message.InReplyTo}}
              <tr>
                <th>In Reply to:</th>
                <td colspan="3"><a href="/{{.Message.InReplyTo.List}}/message/{{.Message.InReplyTo.Id}}">{{.Message.InReplyTo.GetSubject}}</a> by {{.Message.InReplyTo.GetAuthorName}}</td>
              </tr>
              {{end}}

            </table>
          </div>

          <pre class="ag-message-content">{{.Message.Body}}</pre>

          {{if .Message.Attachments }}
            <h3>Attachments</h3>

            <div class="table-responsive">
              <table class="table table-sm ag-attachment-table">
                <tr>
                  <th>File name</th>
                  <th>MIME type</th>
                </tr>

                {{range .Message.Attachments}}
                  <tr>
                    <td>{{.Filename}}</td>
                    <td>{{.Mime}}</td>
                  </tr>
                {{end}}
              </table>
            </div>
          {{end}}

          {{if .Replies}}
            <h3>Replies</h3>
            <div class="table-responsive">
              <table class="table table-sm ag-replies-table">
                <tbody><tr>
                  <th>Subject</th>
                  <th>Author</th>
                  <th>Date</th>
                </tr>
                {{range $index, $reply := .Replies}}
                  <tr {{if ge $index 5}}class="more-replies d-none"{{end}}>
                    <td><a href="/{{$reply.List}}/message/{{$reply.Id}}">{{.GetSubject}}</a></td>
                    <td>{{formatAddr $reply.From}}</td>
                    <td>{{$reply.Date.Format "2006-01-02 15:04:05"}}</td>
                  </tr>
                {{end}}
                {{ if gt (len .Replies) 5}}
                  <tr>
                    <td id="show-more-replies" colspan="3" class="text-center"><button class="btn btn-link" type="button">Show more</button></td>
                  </tr>
                  <tr>
                    <td id="show-less-replies" colspan="3" class="text-center d-none"><button class="btn btn-link" type="button">Show less</button></td>
                  </tr>
                {{end}}
                </tbody>
              </table>
            </div>
          {{end}}

          <div class="ag-message-actions">
            <a href="mailto:infra@gentoo.org?subject=Reporting mail {{.Message.Id}} on archives.g.o" class="btn btn-danger btn-sm"><span class="fa fa-fw fa-ban"></span> Report Message</a>
            <div class="btn-group btn-group-sm ml-3">
              <a href="https://marc.info/?i={{.Message.GetMessageId}}" class="btn btn-outline-secondary"><span class="fa fa-fw fa-share-square"></span>Find on MARC</a>
              <a href="https://groups.google.com/forum/#!search/messageid${{.Message.GetMessageId}}" class="btn btn-outline-secondary"><span class="fa fa-fw fa-share-square"></span>Find on Google Groups</a>
            </div>
          </div>

        </div>
    </div>
</div>


{{template "footer"}}

<script src="/assets/message.js"></script>

</body>
</html>
