{{define "tyrian-navbar"}}
    <nav class="tyrian-navbar navbar navbar-dark navbar-expand-lg bg-primary" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-main-collapse" id="navbar-main-collapse">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item {{ if (eq . "home" "search")}}active{{end}}"><a class="nav-link" href="/">Search</a></li>
                    <li class="nav-item {{ if (eq . "recent")}}active{{end}}"><a class="nav-link" href="/recent">Recent</a></li>
                    <li class="nav-item {{ if (eq . "browse")}}active{{end}}"><a class="nav-link" href="/lists"><i class="fa fa-fw fa-archive"></i> Browse</a></li>
                    {{ if not (eq . "home" "search" "recent" "browse" "popular") }}
                    <li class="nav-item active"><a class="nav-link" href="/{{.}}/"><i class="fa fa-fw fa-inbox"></i> {{.}}</a></li>
                    {{end}}

                </ul>

                {{ if ne . "home"}}
                <form class="form-inline inlinesearch" role="search" action="/search" method="get">

                    <div class="input-group">

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>

                        <input class="form-control" type="text" name="q" type="text" placeholder="Find Messages" aria-label="Find Messages">
                    </div>

                </form>
                {{end}}


            </div>
        </div>
    </nav>
{{end}}
