<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
{{template "header" "home"}}


<div class="container mb-5">
    <div class="row">
        <div id="landing-page-search-area" class="col-12 px-5">

            <div class="jumbotron w-100 px-5" style="background-color: #FAFAFA;">
                <h2 class="site-welcome stick-top">Welcome to the Home<br/> of <span class="text-primary"> {{.MessageCount}} </span> Gentoo Related Mails</h2>

                <form action="/search" method="get">
                    <div class="typeahead-container">
                        <div class="typeahead-field">
                        <span class="typeahead-query">
                          <input id="q" name="q" type="search" autocomplete="off" placeholder="Find Mails" aria-label="Find Mails" autofocus="">
                        </span>

                            <span class="typeahead-button">
                              <button type="button" onclick="$('#searchHelp').modal('show')" title="Search for Threads only" aria-label="Search for Threads only">
                                <span class="fa fa-comments-o" style="font-size: 15px;"></span><span class="sr-only">Search for Threads only</span>
                                        </button>
                            </span>
                            <span class="typeahead-button">
                              <button type="submit" title="Find" aria-label="Find">
                                <span class="typeahead-search-icon"></span><span class="sr-only">Find</span>
                              </button>
                            </span>
                        </div>
                    </div>
                </form>
                <br>
                <small class="mt-4 text-muted" style="font-size: 12px;">This is the new archives.gentoo.org site. If anything isn't working as expected, <a href="mailto:infra@gentoo.org">contact us</a>.<br>
                    You can search by <a href="/search?q=gentoo-dev">mailing list</a>, <a href="/search?q=Last+rites">author</a>, <a href="/search?q=Last+rites">subject</a> or <a href="/search?q=File+transfer+program+to+keep+remote+files+into+sync">message body</a>. Results similar to your query will be found as well.</small>
            </div>

            <div id="landing-page-popular-threads" class="mx-5 text-muted">
                <div class="mx-auto text-center">
                    <p class="mb-1"><a class="text-muted" href="/popular"><b>Recent Popular Threads</b></a></p>
                    {{range .PopularThreads}}
                    <p class="mb-1"><a href="/{{.List}}/message/{{.Id}}" class="text-muted">{{.GetSubject}}</a></p>
                    {{end}}
                </div>
            </div>

        </div>

    </div>
</div>


{{template "footer"}}

<script src="/assets/index.js"></script>

</body>
</html>
