<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
{{template "header" "popular"}}

<div class="container mb-5">
    <div class="row">
        <div class="col-12 pb-4">
            <h1 class="first-header">Popular Recent Threads:</h1>

            <table class="table">
                <tr>
                    <th>Thread</th>
                </tr>

                {{range .}}
                    <tr>
                        <td><a href="/{{.GetListNameFromSubject}}/message/{{.Id}}/">{{.GetSubject}}</a></td>
                    </tr>
                {{end}}

            </table>

        </div>
    </div>
</div>


{{template "footer"}}

</body>
</html>
