<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
{{template "header" .ListName}}

<div class="container mb-5">
    <div class="row">
        <div class="col-12 pb-4">
          <h1 class="first-header">Gentoo Archives: {{.ListName}} in {{.Date}}</h1>

          <div class="d-none d-sm-block">
            {{template "pagination" . }}
          </div>

          <div class="btn-group ag-view-selection" role="group" aria-label="Message view selection">
            <a href="/{{.ListName}}/threads/{{.Date}}/" class="btn btn-primary">Threads</a>
            <a href="/{{.ListName}}/messages/{{.Date}}/" class="btn btn-outline-secondary">Messages</a>
          </div>

          <div class="table-responsive">
            <table class="table table-sm table-hover ag-message-table">
              <tr>
                <th class="ag-message-table-subject">Subject</th>
                <th class="ag-message-table-from">From</th>
                <th class="ag-message-table-date">Date</th>
              </tr>

                {{range .Messages}}
                <tr>
                  <td><a href="../../message/{{.Id}}">{{.GetHeaderField "Subject"}}</a></td>
                  <td>{{.GetAuthorName}}</td>
                  <td><span class="ag-date">{{.Date.Format "Mon, 2 Jan 2006 15:04:05"}}</span></td>
                </tr>
                {{end}}

            </table>
          </div>

          {{template "pagination" . }}

        </div>
    </div>
</div>


{{template "footer"}}

</body>
</html>
